<div class="flex items-center gap-8 my-2 px-2">
    <div class="text-sm text-slate-600">
        Showing {{ paginationData().startIndex }}–{{ paginationData().endIndex }} of
        {{ paginationData().totalRows }}
    </div>

    <div class="flex items-center gap-2 ms-auto">
        <span class="text-sm">Rows per page</span>
        <z-select class="w-20" zPlaceholder="Select page size" [zValue]="currentPageSize().toString()"
            (zSelectionChange)="onPageSizeChange($event)">
            @for (size of pageSizeOptions(); track size) {
            <z-select-item [zValue]="size.toString()">{{ size }}</z-select-item>
            }
        </z-select>
    </div>

    <span class="text-sm">
        Page {{ paginationData().currentPage }} of {{ paginationData().pageCount }}
    </span>

    <div class="flex items-center gap-2">
        <button z-button zType="outline" (click)="onFirstPage()" [zDisabled]="!paginationData().canPreviousPage">
            <z-icon zSize="lg" zType="chevrons-left" />
        </button>

        <button z-button zType="outline" (click)="onPreviousPage()" [zDisabled]="!paginationData().canPreviousPage">
            <z-icon zSize="lg" zType="chevron-left" />
        </button>

        <button z-button zType="outline" (click)="onNextPage()" [zDisabled]="!paginationData().canNextPage">
            <z-icon zSize="lg" zType="chevron-right" />
        </button>

        <button z-button zType="outline" (click)="onLastPage()" [zDisabled]="!paginationData().canNextPage">
            <z-icon zSize="lg" zType="chevrons-right" />
        </button>
    </div>
</div>