<div class="border rounded-md ">
    <table z-table>

        <!-- Table Header -->
        <thead z-table-header>
            @for (headerGroup of table().getHeaderGroups(); track headerGroup.id) {
            <tr z-table-row>
                @if (enableRowSelection()) {
                <th z-table-head class="w-12">
                    <span z-checkbox [ngModel]="table().getIsAllRowsSelected()"
                        (ngModelChange)="table().toggleAllRowsSelected()"></span>
                </th>
                }
                @for (header of headerGroup.headers; track header.id) {
                <th z-table-head [style.width.px]="header.getSize()" [class.sortable]="header.column.getCanSort()"
                    (click)="header.column.getToggleSortingHandler()?.($event)"
                    [class.cursor-pointer]="header.column.getCanSort()">
                    <div [class.text-right]="header.column.id === 'actions'">
                        @if (!header.isPlaceholder) {
                        <!-- <ng-container [flexRender]="header.column.columnDef.header" [props]="header.getContext()">
                        </ng-container> -->
                        {{header.getContext().column.columnDef.header}}
                        }

                        @if (header.column.getIsSorted()) {
                        <z-icon class="inline-block"
                            [zType]="header.column.getIsSorted() === 'asc' ? 'chevron-up' : 'chevron-down'" />
                        }
                    </div>
                </th>
                }
            </tr>
            }
        </thead>

        <!-- Table Body -->
        <tbody z-table-body>
            @for (row of table().getRowModel().rows; track row.id) {
            <tr z-table-row [attr.data-state]="row.getIsSelected() && 'selected'">
                @if (enableRowSelection()) {
                <td z-table-cell class="w-12">
                    <span z-checkbox [ngModel]="row.getIsSelected()" (ngModelChange)="row.toggleSelected()"></span>
                </td>
                }
                @for (cell of row.getVisibleCells(); track cell.id) {
                @switch (cell.column.id) {
                @case('actions') {
                <td z-table-cell class="text-right">
                    <button z-button zType="outline" z-menu zTrigger="click" [zMenuTriggerFor]="productsMenu"
                        [zPlacement]="'bottomRight'">
                        <z-icon zType="ellipsis" zSize="lg" />
                    </button>
                    <ng-template #productsMenu>
                        <div z-menu-content class="w-30">
                            @for (action of metaActions(row,cell); track $index) {
                            @if(action.label == 'Delete'){<z-divider zSpacing="sm" class="-mx-1" />}
                            <button type="button" z-menu-item class="cursor-pointer"
                                (click)="action.action(row.original)"
                                [zType]="action.label == 'Delete' ? 'destructive' : 'default'">
                                <z-icon [zType]="action.icon" zSize="lg" />
                                {{action.label}}
                            </button>
                            }
                        </div>
                    </ng-template>
                </td>
                }
                @default {
                <td z-table-cell>
                    <!-- <ng-container [flexRender]="cell.column.columnDef.cell" [props]="cell.getContext()">
                    </ng-container> -->
                    {{cell.getValue()}}
                </td>
                }
                }
                }
            </tr>
            }

            <!-- Empty State -->
            @if (table().getRowModel().rows.length === 0) {
            <tr z-table-row>
                <td z-table-cell [attr.colspan]="table().getAllColumns().length">
                    <div>
                        <p>No data available</p>
                    </div>
                </td>
            </tr>
            }
        </tbody>

    </table>
</div>