<div class=" flex items-center gap-4 mb-4">

    @if (search()) {
    <z-input-group [zAddonBefore]="searchIcon" class="w-56">
        <input z-input placeholder="Search..." [value]="searchValue()" (input)="onSearchInput($event)" />
    </z-input-group>
    <ng-template #searchIcon><z-icon zType="search" /></ng-template>
    }

    <!-- Filters -->
    <div class="flex gap-4">

        <button z-button zType="outline" zPopover [zContent]="interactiveContent" zType="outline">
            <z-icon zType="list-filter-plus" zSize="lg" />
            Filter
        </button>

        <ng-template #interactiveContent>
            <z-popover class="w-96">
                <div class="space-y-4">
                    <div class="space-y-2">
                        <h4 class="leading-none font-medium">Filters</h4>
                        <p class="text-muted-foreground text-sm">Manage your account settings.</p>
                    </div>
                    @for (filter of advancedFilter(); track $index) {
                    <div class="flex gap-2">
                        <z-select class="min-w-32 max-w-32" [zValue]="filter.value" zPlaceholder="Select">
                            @for (column of table().getAllColumns(); track $index) {
                            <z-select-item
                                [zValue]="getHeaderValue(column.columnDef.header)">{{column.columnDef.header}}</z-select-item>
                            }
                        </z-select>
                        <input z-input placeholder="Enter the vlaue..." />
                        <button z-button zType="destructive">
                            <z-icon zType="trash" zSize="lg" />
                        </button>
                    </div>
                    }
                    <!-- <z-icon zType="action.icon" zSize="lg" /> -->
                    <div class="flex gap-2">
                        <button z-button zType="default">
                            Add Filter
                        </button>
                        <button z-button zType="default">
                            Apply Filter
                        </button>
                        <button z-button zType="outline">
                            Reset Filter
                        </button>
                    </div>
                </div>
            </z-popover>
        </ng-template>

        @for (cell of table().getAllColumns(); track $index) {
        @if(getMeta(cell,'filterOptions')) {
        <z-button-group>
            @if(getMeta(cell,'label') || getMeta(cell,'icon')){
            <label z-button-group-text class="px-2.5">
                <i z-icon [zType]="getMeta(cell,'icon')" zSize="lg"></i>
                {{getMeta(cell,'label')}}
            </label>
            }
            @switch (getMeta(cell,'type')) {
            @case ('single-select') {
            <z-select class="w-fit" [zValue]="getMeta(cell,'value') || ''" [zPlaceholder]="getMeta(cell,'placeholder')"
                (zSelectionChange)="onFilterChange(cell, $event)">
                @for (option of getMeta(cell,'filterOptions'); track $index) {
                <z-select-item [zValue]="option.value">{{option.label}}</z-select-item>
                }
            </z-select>
            }
            @case ('multi-select') {
            <z-select class="w-fit" [zValue]="getMeta(cell,'value') || []" [zMultiple]="true"
                [zPlaceholder]="getMeta(cell,'placeholder')" (zSelectionChange)="onFilterChange(cell, $event)">
                @for (option of getMeta(cell,'filterOptions'); track $index) {
                <z-select-item [zValue]="option.value">{{option.label}}</z-select-item>
                }
            </z-select>
            }
            }
        </z-button-group>
        }
        }

        @if(isAnyFilterActive){
        <button type="button" z-button zType="link" aria-label="Go Back" class="text-blue-600"
            (click)="resetColumnFilters()">
            Reset
            <i z-icon zType="x"></i>
        </button>
        }

    </div>

    <!-- Action Buttons -->
    <div class="flex gap-2 ms-auto">
        @if (actions().length > 0) {
        @for (action of actions(); track action.label) {
        <button z-button [zType]="action.variant" (click)="action.onClick()" [zDisabled]="action.disabled">
            @if(action.icon) {
            <z-icon [zType]="action.icon" zSize="lg" />
            }
            {{ action.label }}
        </button>
        }
        }
        @if(enableColumnVisibility()){
        <button z-button zType="outline" z-dropdown [zDropdownMenu]="menu" zPlacement="bottomRight">
            <z-icon zType="settings-2" zSize="lg" />
            View
        </button>
        <z-dropdown-menu-content #menu="zDropdownMenuContent">
            <z-menu-label>Toggle columns</z-menu-label>
            @for (column of table().getAllColumns(); track $index) {
            @if(typeof column.accessorFn !== "undefined" && column.getCanHide()){
            <z-dropdown-menu-item (click)="column.toggleVisibility()">
                <span z-checkbox [ngModel]="column.getIsVisible()">
                    {{column.columnDef.header}}
                </span>
            </z-dropdown-menu-item>
            }
            }
        </z-dropdown-menu-content>
        }
    </div>

</div>