<div class=" flex items-center justify-between gap-4 mb-4">

    @if (search()) {
    <z-input-group [zAddonBefore]="searchIcon" class="w-56">
        <input z-input placeholder="Search..." [value]="searchValue()" (input)="onSearchInput($event)" />
    </z-input-group>
    <ng-template #searchIcon><z-icon zType="search" /></ng-template>
    }

    @if (actions().length > 0) {
    <div class="flex gap-2">
        @for (action of actions(); track action.label) {
        <button z-button [zType]="action.variant" (click)="action.onClick()" [zDisabled]="action.disabled">
            @if(action.icon) {
            <z-icon [zType]="action.icon" zSize="lg" />
            }
            {{ action.label }}
        </button>
        }
    </div>

    }
</div>