<div class="table-container">

    <!-- Toolbar Component -->
    <app-data-table-toolbar [search]="search()" [searchValue]="globalFilter()" [actions]="actions()"
        [enableColumnVisibility]="enableColumnVisibility()" (searchChange)="onSearchChange($event)" [table]="table">
    </app-data-table-toolbar>

    <!-- Table Component -->
    <app-normal-data-table [table]="table" [enableRowSelection]="enableRowSelection()">
    </app-normal-data-table>

    <!-- Pagination Component -->
    <app-data-table-pagination [paginationData]="paginationData()" [pageSizeOptions]="pageSizeOptions()"
        [currentPageSize]="pagination().pageSize" (firstPage)="firstPage()" (previousPage)="prevPage()"
        (nextPage)="nextPage()" (lastPage)="lastPage()" (pageSizeChange)="onPageSizeChange($event)">
    </app-data-table-pagination>

</div>