<div class="flex gap-4">
    @for (cell of table().getAllColumns(); track $index) {
    @if(getMeta(cell,'filterOptions')) {
    <z-button-group>
        @if(getMeta(cell,'label') || getMeta(cell,'icon')){
        <label z-button-group-text class="px-2.5">
            <i z-icon [zType]="getMeta(cell,'icon')" zSize="lg"></i>
            {{getMeta(cell,'label')}}
        </label>
        }
        @switch (getMeta(cell,'type')) {
        @case ('single-select') {
        <z-select class="w-fit" [zValue]="getMeta(cell,'value') || ''" [zPlaceholder]="getMeta(cell,'placeholder')"
            (zSelectionChange)="onFilterChange(cell, $event)">
            @for (option of getMeta(cell,'filterOptions'); track $index) {
            <z-select-item [zValue]="option.value">{{option.label}}</z-select-item>
            }
        </z-select>
        }
        @case ('multi-select') {
        <z-select class="w-fit" [zValue]="getMeta(cell,'value') || []" [zMultiple]="true"
            [zPlaceholder]="getMeta(cell,'placeholder')" (zSelectionChange)="onFilterChange(cell, $event)">
            @for (option of getMeta(cell,'filterOptions'); track $index) {
            <z-select-item [zValue]="option.value">{{option.label}}</z-select-item>
            }
        </z-select>
        }
        }
    </z-button-group>
    }
    }

    @if(isAnyFilterActive){
    <button type="button" z-button zType="link" aria-label="Go Back" class="text-blue-600"
        (click)="resetColumnFilters()">
        Reset
        <i z-icon zType="x"></i>
    </button>
    }
</div>